
body {
    overflow: hidden;
}

.payment {
    height: 80%;
    width: 20%;
    padding: 1% 1% 1% 1%;
    position: fixed;
    right: 0;
    top: 10%;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.payment > .payItem {
    font-weight: bold;
}

.menu {
    height: 80%;
    width: 80%;
    left: 0;
    top: 10%;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-wrap: wrap;
}

.menu > .item {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 207, 117);
    margin: 10px;
}

.menu > .item > h1 {
    vertical-align: top;
    font-size: 1em;
}
